.menu {
    height: 100%;
    width: 270px;
    /*background-color:;*/
    position: fixed;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    color: #fff;
}
button{
    background-color: #ffffff00;
    border: #ffffff00;
    color: #fff;
}

li {
    background-color: #ffffff00;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}